In [62]:
import numpy as np
import pandas as pd

In [64]:
df = pd.read_csv('Loan_prediction_dataset.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

### Find the **mean**, **median**, and **standard deviation** of the loan amounts

#### mean

In [66]:
loan_amounts = df['LoanAmount'].to_numpy()

In [85]:
mean_loan_amount = np.nanmean(loan_amounts)
print(f"Mean Loan Amount: {mean_loan_amount}")

Mean Loan Amount: 146.41216216216216

#### median

In [83]:
median_loan_amount = np.nanmedian(loan_amounts)
print(f"Median Loan Amount: {median_loan_amount}")

Median Loan Amount: 128.0

#### standard deviation

In [87]:
std_dev_loan_amount = np.nanstd(loan_amounts)
print(f"Standard Deviation of Loan Amount: {std_dev_loan_amount}")

Standard Deviation of Loan Amount: 85.51500809120331